<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>添加留言</title>
    <script>
      Ext.onReady(function(){
        var id = new Ext.form.TextField({
          fieldLabel: 'ID',
          name:'message[blog_id]',
          value: blogId,
          hidden: true,
          anchor: '90%'
        })
        
        var name = new Ext.form.TextField({
          fieldLabel: '姓名',
          name:'message[name]',
          allowBlank: false,
          anchor: '90%'
        })

        var url = new Ext.form.TextField({
          fieldLabel: '网址',
          name:'message[url]',
          allowBlank: false,
          anchor: '90%'
        })

        var email = new Ext.form.TextField({
          fieldLabel: 'email',
          name:'message[email]',
          allowBlank: false,
          anchor: '90%'
        })

        var content = new Ext.form.TextArea({
          fieldLabel: '留言内容',
          name: 'message[content]',
          height: '260px',
          allowBlank: false,
          anchor: '100%'
        })

        var okButton = new Ext.Button({
          text: '确定',
          handler: function(){
            if(newMessageForm.form.isValid()){
              okButton.setDisabled(true);
              newMessageForm.form.submit({
                method: 'post',
                waitMsg: '正在保存信息...',
                success: function(result,response){
                  if(response.result.info == 'success'){
                    newMessageWin.destroy();
                  }else{
                    Ext.Msg.alert('提示',response.result.info);
                    okButton.setDisabled(false)
                  }
                },
                failure: function(result,response){
                  Ext.Msg.alert('提示',result.responseText)
                  okButton.setDisabled(false)
                }
              })
            }else{
              Ext.Msg.alert('提示','请填入必填项')
            }
          }
        })

        var cancelButton = new Ext.Button({
          text: '取消',
          handler: function(){
            newMessageWin.destroy();
          }
        })

        var newMessageForm = new Ext.form.FormPanel({
          labelAlign: 'top',
          url:'/admin/messages',
          buttonAlign:'center',
          bodyStyle: 'padding:5px',
          labelWidth:100,
          waitMsgTarget: true,
          frame: true,
          items:[{
              layout:'column',
              items:[{
                  columnWidth:.5,
                  layout: 'form',
                  items: [name,id]
                },{
                  columnWidth:.5,
                  layout: 'form',
                  items: [url]
                }]
            },{
              layout:'column',
              items:[{
                  columnWidth:.5,
                  layout: 'form',
                  items: [email]
                }]
            },content],
          buttons:[okButton,cancelButton]
        });
        newMessageForm.render('new_message_form');
      })
    </script>
  </head>
  <body>
    <div id="new_message_form"></div>
  </body>
</html>