<div id="header">
 	<div id="logo">
     <a href="/">Kimi's Blog</a><br /><br />
     <h2><a href="/" id="metamorph">Love in Ruby on Rails</a></h2>
 	</div>

 	<div id="buttons">
     <ul>
         <li><a href="/home" title="" class="home">Home</a></li>
         <li><a href="/blogs" title="" class="blogs">Blog</a></li>
         <li><a href="http://www.flickr.com/photos/kimi_gao/" target="_blank" title="" class="galleries">Gallery</a></li>
         <li><a href="/about" title="" class="about">About Me</a></li>
         <li><a href="/messages" title="" class="messages">Contact</a></li>
     </ul>
	</div>
</div>
