<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>编辑博客</title>
    <script>
      Ext.onReady(function(){
        blogId = <%= params[:id] %>;
        var title = new Ext.form.TextField({
          fieldLabel: '博客标题',
          name:'blog[title]',
          allowBlank: false,
          anchor: '100%'
        })

        var tag = new Ext.form.TextField({
          fieldLabel: '标签（多个标签用“，”分隔）',
          name:'blog[tag_name]',
          allowBlank: false,
          anchor: '100%'
        })

        var content = new Ext.form.TextArea({
          fieldLabel: '博客内容',
          name: 'blog[content]',
          id: 'content',
          height: '360px',
          allowBlank: false,
          anchor: '100%',
          listeners: {
            render:function(){
              KE.show({
                id:'content',
                resizeMode : 0,
                allowFileManager : true,
                imageUploadJson : '/kindeditor/upload',
                fileManagerJson : '/kindeditor/filemanager'
              });

              setTimeout("KE.create('content');", 10);
            }
          }
        })

        var okButton = new Ext.Button({
          text: '确定',
          handler: function(){
            KE.sync('content');
            if(editBlogForm.form.isValid()){
              okButton.setDisabled(true);
              editBlogForm.form.submit({
                method: 'put',
                waitMsg: '正在保存信息...',
                success: function(result,response){
                  if(response.result.info == 'success'){
                    editBlogWin.destroy();
                    KE.remove('content');
                  }else{
                    Ext.Msg.alert('提示',response.result.info);
                    okButton.setDisabled(false)
                  }
                },
                failure: function(result,response){
                  Ext.Msg.alert('提示',result.responseText)
                  okButton.setDisabled(false)
                }
              })
            }else{
              Ext.Msg.alert('提示','请填入必填项')
            }
          }
        })

        var cancelButton = new Ext.Button({
          text: '取消',
          handler: function(){
            KE.remove('content');
            editBlogWin.destroy();
          }
        })

        var editBlogForm = new Ext.form.FormPanel({
          labelAlign: 'top',
          url:'/admin/blogs/' + blogId ,
          buttonAlign:'center',
          bodyStyle: 'padding:5px',
          labelWidth:100,
          waitMsgTarget: true,
          frame: true,
          reader:new Ext.data.JsonReader({
          },[
            {name:'id'},
            {name:'blog[title]',mapping:'title'},
            {name:'blog[tag_name]',mapping:'tag_name'},
            {name:'blog[content]',mapping:'content'}
          ]
        ),
          items:[{
              layout:'column',
              items:[{
                  columnWidth:1,
                  layout: 'form',
                  items: [title]
                },{
                  columnWidth:1,
                  layout: 'form',
                  items: [tag]
                }]
            },content],
          buttons:[okButton,cancelButton]
        });

        editBlogForm.form.load({
          url: '/admin/blogs/' + blogId+'/edit',
          method: 'get',
          success: function(form, action){
            KE.html('content', content.getValue())
          },
          failure: function(form, action){
            Ext.MessageBox.alert('提示信息', '信息加载失败');
          }
        });

        editBlogForm.render('edit_blog_form');
      })
    </script>
  </head>
  <body>
    <div id="edit_blog_form"></div>
  </body>
</html>
